<div class="container">
    <section id="noticias">
        <h2>Noticias</h2>

        <div class="noticias">
            <div class="noticia1">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus voluptatem consequuntur voluptatum recusandae quo dolores reprehenderit pariatur omnis modi, suscipit nostrum placeat, dolorum nobis magnam a aperiam cupiditate alias. Unde!
                Fugit itaque est, placeat suscipit id unde sapiente tempore quam voluptas alias tempora, voluptatum cumque illum ex nemo distinctio laborum ad vitae architecto facere, magni officiis modi ipsum nesciunt! Nesciunt!</p>
            </div>
            <div class="noticia2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti possimus labore eos debitis aut fugit quidem tenetur rem repellat tempore nostrum minima non, odit aliquam! Commodi accusantium error adipisci dolore!
                Officiis ipsum tempora officia esse sed voluptas commodi placeat fuga consequatur. Fugiat cum dolorum illo in animi expedita magnam. Voluptatem iste repellendus quos minus corporis assumenda velit sed architecto eligendi.</p>
            </div>
            <div class="noticia3">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque velit eveniet provident distinctio corporis dolores ipsam dicta blanditiis a culpa officiis illo id excepturi, beatae minima asperiores quia numquam facilis.
                Commodi corrupti quos, hic officia ducimus cumque, ipsam accusantium exercitationem expedita, voluptatum labore sapiente. Impedit iusto quam placeat perferendis illum deserunt dolorum facilis ab nisi doloribus id odio, totam alias.</p>
            </div>
        </div>
    </section>

    <section id="reservas">
        <h2>Reservas</h2>
        <div class="reservas">
            <div class="reserva1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem necessitatibus repellendus repudiandae quia vel mollitia numquam, esse ad sapiente fugiat nam ducimus. Cumque est iure praesentium ex neque aliquid.
                Ab hic, delectus perspiciatis alias ipsa quos odit cumque fugiat assumenda dolorem vero sed maiores facilis illo recusandae! Fuga ut ipsum quod temporibus nostrum id et mollitia necessitatibus porro iure?</p>
            </div>
            <div class="reserva2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem necessitatibus repellendus repudiandae quia vel mollitia numquam, esse ad sapiente fugiat nam ducimus. Cumque est iure praesentium ex neque aliquid.
                    Ab hic, delectus perspiciatis alias ipsa quos odit cumque fugiat assumenda dolorem vero sed maiores facilis illo recusandae! Fuga ut ipsum quod temporibus nostrum id et mollitia necessitatibus porro iure?</p>
    
            </div>
            <div class="reserva3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem necessitatibus repellendus repudiandae quia vel mollitia numquam, esse ad sapiente fugiat nam ducimus. Cumque est iure praesentium ex neque aliquid.
                    Ab hic, delectus perspiciatis alias ipsa quos odit cumque fugiat assumenda dolorem vero sed maiores facilis illo recusandae! Fuga ut ipsum quod temporibus nostrum id et mollitia necessitatibus porro iure?</p>
    
            </div>
        </div>
    </section>

    <section id="tienda">
        <h2>Tienda</h2>
        <div class="tienda">
            <div class="producto1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem necessitatibus repellendus repudiandae quia vel mollitia numquam, esse ad sapiente fugiat nam ducimus. Cumque est iure praesentium ex neque aliquid.
                    Ab hic, delectus perspiciatis alias ipsa quos odit cumque fugiat assumenda dolorem vero sed maiores facilis illo recusandae! Fuga ut ipsum quod temporibus nostrum id et mollitia necessitatibus porro iure?</p>
    
            </div>
            <div class="producto2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem necessitatibus repellendus repudiandae quia vel mollitia numquam, esse ad sapiente fugiat nam ducimus. Cumque est iure praesentium ex neque aliquid.
                    Ab hic, delectus perspiciatis alias ipsa quos odit cumque fugiat assumenda dolorem vero sed maiores facilis illo recusandae! Fuga ut ipsum quod temporibus nostrum id et mollitia necessitatibus porro iure?</p>
    
            </div>
            <div class="producto3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem necessitatibus repellendus repudiandae quia vel mollitia numquam, esse ad sapiente fugiat nam ducimus. Cumque est iure praesentium ex neque aliquid.
                    Ab hic, delectus perspiciatis alias ipsa quos odit cumque fugiat assumenda dolorem vero sed maiores facilis illo recusandae! Fuga ut ipsum quod temporibus nostrum id et mollitia necessitatibus porro iure?</p>
    
            </div>
        </div>
    </section>
    <section id="contacto">
        <h2>Contacto</h2>
        <div class="contacto">
            <div class="contacto1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem necessitatibus repellendus repudiandae quia vel mollitia numquam, esse ad sapiente fugiat nam ducimus. Cumque est iure praesentium ex neque aliquid.
                    Ab hic, delectus perspiciatis alias ipsa quos odit cumque fugiat assumenda dolorem vero sed maiores facilis illo recusandae! Fuga ut ipsum quod temporibus nostrum id et mollitia necessitatibus porro iure?</p>
    
            </div>
            <div class="contacto2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem necessitatibus repellendus repudiandae quia vel mollitia numquam, esse ad sapiente fugiat nam ducimus. Cumque est iure praesentium ex neque aliquid.
                    Ab hic, delectus perspiciatis alias ipsa quos odit cumque fugiat assumenda dolorem vero sed maiores facilis illo recusandae! Fuga ut ipsum quod temporibus nostrum id et mollitia necessitatibus porro iure?</p>
    
            </div>
            <div class="contacto3">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem necessitatibus repellendus repudiandae quia vel mollitia numquam, esse ad sapiente fugiat nam ducimus. Cumque est iure praesentium ex neque aliquid.
                    Ab hic, delectus perspiciatis alias ipsa quos odit cumque fugiat assumenda dolorem vero sed maiores facilis illo recusandae! Fuga ut ipsum quod temporibus nostrum id et mollitia necessitatibus porro iure?</p>
    
            </div>
        </div>
    </section>
</div>