/* styles.css */
.logo {
    max-width: 10rem;
}
header {
    /* poner el header sticky */
    position: sticky;
    top: 0;
}
footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem; /* Ajusta el padding según sea necesario */
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-centered {
    flex-grow: 1; /* Permite que este contenedor crezca y ocupe el espacio disponible */
    text-align: center; /* Centra el contenido dentro de este contenedor */
}

.iconos {
    display: flex;
    align-items: center;
    margin-right: 1rem; /* Espacio entre el título y los iconos */
}

.iconos h4 {
    margin-right: 1rem; /* Espacio entre el título y los iconos */
}
.iconos i {
    margin-right: 1rem; /* Espacio entre el título y los iconos */
}
.iconos a {
    color: white;
    text-decoration: none;
}
.iconos a:hover {
    color: rgb(255, 53, 53);
}
/* Estilos para hover en elementos de navegación */
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(255, 53, 53) !important;
}

/* Botones de Iconos  */
.navbar-toggler,
#BottonLogin,
#BottonCompra {
    background-color: #FFC700; /* Color de fondo */
    color: #1a1a1a; /* Color del texto */
    border: none; /* Eliminar borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 0.5rem 1rem; /* Ajustar el padding según sea necesario */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

/* Estilo para los botones al hacer hover */

#BottonLogin:hover,
#BottonCompra:hover {
    background-color: #ffe37e; /* Cambia el color de fondo al hacer hover */
}
i{
    font-size: 1.3rem !important;
    padding: 0px;
}

@media screen and (max-width: 991px) {
    .navbar-toggler{
        margin-left: auto;
        margin-top : -50px;
        margin-bottom: 40px;
    }
    .container-fluid{
        text-align: right;
    }
    #BottonLogin,
    #BottonCompra {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }
}
