footer {
    font-size: 2vh;
    background-color: #000000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

footer p {
    margin: 5px 0;
}
 
/* Estilo específico para el nombre del sitio web */
footer .website-name {
    font-weight: bold;
}
 
/* Estilos para el año de derechos de autor */
footer .copyright {
    font-size: 0.8em;
}
