html{
    /* al medio de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2e2e2e;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #111111;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    color: white;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #383838;
}

table, th, td {
    border: 1px solid #920000;

}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.pago {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #929292;
    color: rgb(43, 43, 43);
    border: none;
    border-radius: 5px;
}

button {
    background-color: #920000;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
}
button:hover {
    color: #ff0000;
    background-color: #6b6b6b;
    font-weight: bold;
}

.hidden {
    display: none;
}
