<div class="noticias-ultimas">
    <h3>Últimas noticias</h3>
    <ul>
      <li *ngFor="let noticia of noticiasUltimas">
        <a href="{{ noticia.enlace }}">{{ noticia.titulo }}</a>
      </li>
    </ul>
  </div>

  <div class="noticias-eventos">
    <h3>Próximos eventos</h3>
    <ul>
      <li *ngFor="let evento of eventosProximos">
        <p>{{ evento.fecha }} - {{ evento.nombre }}</p>
      </li>
    </ul>
  </div>

  <div class="noticias-tabla">
    <h3>Información de Valorant</h3>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of datosValorant">
          <td>{{ dato.nombre }}</td>
          <td>{{ dato.descripcion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="banner-area">
    <div class="swiper-container main-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-image" data-swiper-parallax-x="35%">
            <div class="swiper-image-inner" style="background-image: url(images/pic1.jpg);">
              <div class="banner-content">
                <h2 data-swiper-parallax-duration="1500" data-swiper-parallax-opacity="0" data-swiper-parallax="-700"> Slide 1</h2>
                <p data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0" data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-image" data-swiper-parallax-x="35%">
            <div class="swiper-image-inner" style="background-image: url(images/pic2.jpg);">
              <div class="banner-content">
                <h2 data-swiper-parallax-duration="1500" data-swiper-parallax-opacity="0" data-swiper-parallax="-700"> Slide 2</h2>
                <p data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0" data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-image" data-swiper-parallax-x="35%">
            <div class="swiper-image-inner" style="background-image: url(images/pic3.jpg);">
              <div class="banner-content">
                <h2 data-swiper-parallax-duration="1500" data-swiper-parallax-opacity="0" data-swiper-parallax="-700"> Slide 3</h2>
                <p data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0" data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-image" data-swiper-parallax-x="35%">
            <div class="swiper-image-inner" style="background-image: url(images/pic4.jpg);">
              <div class="banner-content">
                <h2 data-swiper-parallax-duration="1500" data-swiper-parallax-opacity="0" data-swiper-parallax="-700"> Slide 4</h2>
                <p data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0" data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-image" data-swiper-parallax-x="35%">
            <div class="swiper-image-inner" style="background-image: url(images/pic5.jpg);">
              <div class="banner-content">
                <h2 data-swiper-parallax-duration="1500" data-swiper-parallax-opacity="0" data-swiper-parallax="-700"> Slide 5</h2>
                <p data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0" data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-image" data-swiper-parallax-x="35%">
            <div class="swiper-image-inner" style="background-image: url(images/pic6.jpg);">
              <div class="banner-content">
                <h2 data-swiper-parallax-duration="1500" data-swiper-parallax-opacity="0" data-swiper-parallax="-700"> Slide 6</h2>
                <p data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0" data-swiper-parallax="-1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
  
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
    </div>
  
    <div class="swiper-container thumb-slider">
      <div class="swiper-wrapper" role="navigation">
        <div class="swiper-slide">
          <div class="slide-bgimg" style="background-image:url(images/pic1.jpg)">
            <span>Slide 1</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-bgimg" style="background-image:url(images/pic2.jpg)">
            <span>Slide 2</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-bgimg" style="background-image:url(images/pic3.jpg)">
            <span>Slide 3</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-bgimg" style="background-image:url(images/pic4.jpg)">
            <span>Slide 4</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-bgimg" style="background-image:url(images/pic5.jpg)">
            <span>Slide 5</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-bgimg" style="background-image:url(images/pic6.jpg)">
            <span>Slide 6</span>
          </div>
        </div>
      </div>
    </div>  
  </div>