ul li a, ul li p{
    color: white;
    font-size: 1.5em;
    transition: all 0.3s;
}

table{
    width: 100%;
    text-align: left;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
table th{
    background-color: #000000;
    color: white;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
}
table td{
    background-color: #8b8b8b;
    color: black;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}
