<div class="contenedorNoticias">
  <section class="tarjeta">
    <div class="imgTarjeta">
      <img src="../assets/img/image1.jpg" alt="">
    </div>
    <div class="contenido">
      <div class=" cabecera">
        <h2>VIEWING PARTY CHAMPIONS 2024</h2>
      </div>
      <div class="cuerpo">
        <p>Vive al máximo todas las partidas de la Valorant Champions en primera persona.</p>
        <p>¡No dejes escapar esta oportunidad!</p>
        <a href="/reservas">
          <button class="botonNoticias">¡RESERVA YA!</button>
        </a>
      </div>
      <div class="pie">
        <p>06/08/2024 - 26/08/2024</p>
        <p>📍Barcelona (Carrer de Llull, 121)</p>
      </div>
    </div>
  </section>
  <br>
  <section class="tarjeta">
    <div class="imgTarjeta">
      <img src="../assets/img/image2.jpg" alt="">
    </div>
    <div class="contenido">
      <div class=" cabecera">
        <h2>VIEWING PARTY VCT 2024</h2>
      </div>
      <div class="cuerpo">
        <p>Vive al máximo todas las partidas de la Valorant Challenger en primera persona.</p>
        <p>¡No dejes escapar esta oportunidad!</p>
        <a href="/reservas"><button class="botonNoticias">¡RESERVA YA!
        </button></a>
      </div>
      <div class="pie">
        <p>16/12/2024 - 23/12/2024</p>
        <p>📍Barcelona (Carrer de Llull, 121)</p>
      </div>
    </div>
  </section>
  <br>
  <section class="tarjeta">
    <div class="imgTarjeta">
      <img src="../assets/img/FotoPortada.png" alt="">
    </div>
    <div class="contenido">
      <div class=" cabecera">
        <h2>VIEWING PARTY CHAMPIONS 2024</h2>
      </div>
      <div class="cuerpo">
        <p>Vive al máximo todas las partidas de la Valorant Champions en primera persona.</p>
        <p>¡No dejes escapar esta oportunidad!</p>
        <a href="/reservas">
          <button class="botonNoticias">¡RESERVA YA!</button>
        </a>
      </div>
      <div class="pie">
        <p>06/08/2024 - 26/08/2024</p>
        <p>📍Barcelona (Carrer de Llull, 121)</p>
      </div>
    </div>
  </section>
</div>