<div class="banner-area">
    <div class="swiper-container main-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-image" data-swiper-parallax-x="35%">
                    <div class="swiper-image-inner img1">
                        <h1 data-swiper-parallax-duration="1500" data-swiper-parallax-opacity="0" data-swiper-parallax="-700"> VIEWING PARTY VALORANT</h1>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image" data-swiper-parallax-x="35%">
                    <div class="swiper-image-inner img2">
                        <div class="banner-content">
                            <h2 data-swiper-parallax-duration="1500" data-swiper-parallax-opacity="0"
                                data-swiper-parallax="-700">RESERVA TU ENTRADA
                            </h2>
                            <p data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0"
                                data-swiper-parallax="-1000">Compra ya tu entrada y disfruta de ver eventos y torneos de tus jugadores profesionales favoritos.
                            </p>
                            <a href="/reservas">
                                <button data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0"
                                    data-swiper-parallax="-1000">RESERVA YA
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-image" data-swiper-parallax-x="35%">
                    <div class="swiper-image-inner img3">
                        <div class="banner-content">
                            <h2 data-swiper-parallax-duration="1500" data-swiper-parallax-opacity="0"
                                data-swiper-parallax="-700"> MERCHANDISING
                            </h2>
                            <p data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0"
                                data-swiper-parallax="-1000">Compra merchandising de tus equipos favoritos y apoya al juego comprando productos oficiales.
                            </p>
                            <a href="/tienda">
                                <button data-swiper-parallax-duration="1700" data-swiper-parallax-opacity="0"
                                    data-swiper-parallax="-1000">COMPRA AQUI
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-container thumb-slider">
        </div>
    </div>
</div>