<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <a href="https://www.riotgames.com/es" target="_blank">
                <img src="../../../assets/img/slide-partners/riotgames.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://lvp.global/" target="_blank">
                <img src="../../../assets/img/slide-partners/lvp.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://mediapro.tv/es" target="_blank">
                <img src="../../../assets/img/slide-partners/mediapro.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.logitechg.com/es-es" target="_blank">
                <img src="../../../assets/img/slide-partners/logitech.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.mediamarkt.es/" target="_blank">
                <img src="../../../assets/img/slide-partners/mediamarkt.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.burgerking.es/carta" target="_blank">
                <img src="../../../assets/img/slide-partners/burguerking.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.pepsi.es/" target="_blank">
                <img src="../../../assets/img/slide-partners/pepsi.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.estrelladamm.com/" target="_blank">
                <img src="../../../assets/img/slide-partners/estrelladam.png">
            </a>
        </div>
        <!-- copiamos imagenes abajo para hacer el efecto infinito -->
        <div class="slide">
            <a href="https://www.riotgames.com/es" target="_blank">
                <img src="../../../assets/img/slide-partners/riotgames.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://lvp.global/" target="_blank">
                <img src="../../../assets/img/slide-partners/lvp.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://mediapro.tv/es" target="_blank">
                <img src="../../../assets/img/slide-partners/mediapro.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.logitechg.com/es-es" target="_blank">
                <img src="../../../assets/img/slide-partners/logitech.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.mediamarkt.es/" target="_blank">
                <img src="../../../assets/img/slide-partners/mediamarkt.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.burgerking.es/carta" target="_blank">
                <img src="../../../assets/img/slide-partners/burguerking.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.pepsi.es/" target="_blank">
                <img src="../../../assets/img/slide-partners/pepsi.png">
            </a>
        </div>
        <div class="slide">
            <a href="https://www.estrelladamm.com/" target="_blank">
                <img src="../../../assets/img/slide-partners/estrelladam.png">
            </a>
        </div>
    </div>
</div>