@font-face {
    font-family: Valorant;
    src: url(../../../assets/Valorant_Font.ttf);
}

footer {
    font-size: 2vw;
    background-color: #000000;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    line-height: 30px;
}

footer p {
    margin: 5px 0;
}

.logoFooter > img{
    width: clamp(200px, 7vw, 800px);
}


footer .containerTerminos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    line-height: 30px;
    width: 100%;
    padding: 30px;
}


footer .containerTerminos a{
    list-style: none;
    user-select: none;
    box-sizing: border-box;
    padding: 20px 0 0;
    font-family: 'Valorant';
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease-in-out;
    padding: 30px;
    
}
footer .containerTerminos a:hover{
    color: #d40000;
    transform: scale(1.1);
}

footer .containerPegi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    text-align: center;

}
footer .containerPegi img{
    width: clamp(5rem, 5vw, 6rem);
    height: auto;
}

footer .svgContainer{
    display: flex;
    align-items: center;
}

footer .containerFooter{
    font-size: clamp(1rem, 2vw, 1.5rem);
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 10%;
    line-height: 30px;
    width: 100%;
    padding: 20px;
    border-bottom: red 5px solid;
    flex-wrap: wrap;
}


footer .website-name {
    font-weight: bold;
}
 
/* Estilos para el año de derechos de autor */
footer .copyright {
    font-size: 0.8em;
}

footer .svgContainer svg {
    margin: 10px;
    height: 2em;
    fill: #b40000;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
footer .svgContainer svg:hover {
    fill: #f1f1f1;
}

@media screen and (max-width: 495px) {
    .CopyrightFooter{
        display: none;
    }
    .svgContainer{
        margin-top: 20px;
    }
}